ion-card {
  --margin-start: 5px;
  --margin-end: 5px;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.searchBox-help {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 150px;
}
